@charset "utf-8";

.edit-list {
  width: 1000px;
  margin: 0 auto;
  .error-message {
    color: #ff3333;
  }
  .edit-list-form {
    color: #555555;
    .edit-list-title {
      width: 300px;
      margin-bottom: 25px;
    }
    .delete-list-button {
      color: #ff3333;
      border: solid 1px #ff3333;
      width: 80px;
      height: 40px;
      margin: 25px 5px;
      border-radius: 5px;
    }

    .edit-list-button {
      background-color: #242f9b;
      color: #ffffff;
      width: 80px;
      height: 40px;
      border-radius: 5px;
    }
  }
}

@media (max-width: 320px) {
  .edit-list {
    width: 100%;
    margin: 0 auto;
    .error-message {
      color: #ff3333;
    }
    .edit-list-form {
      color: #555555;
      .edit-list-title {
        width: 80%;
        margin-left: 5px;
        margin-bottom: 25px;
      }
      .delete-list-button {
        color: #ff3333;
        border: solid 1px #ff3333;
        width: 80px;
        height: 40px;
        margin: 25px 5px;
        border-radius: 5px;
      }

      .edit-list-button {
        background-color: #242f9b;
        color: #ffffff;
        width: 80px;
        height: 40px;
        border-radius: 5px;
      }
    }
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .edit-list {
    width: 100%;
    margin: 0 auto;
    .error-message {
      color: #ff3333;
    }
    .edit-list-form {
      color: #555555;
      .edit-list-title {
        width: 80%;
        margin-left: 15px;
        margin-bottom: 25px;
      }
      .delete-list-button {
        color: #ff3333;
        border: solid 1px #ff3333;
        width: 80px;
        height: 40px;
        margin: 25px 5px;
        border-radius: 5px;
      }

      .edit-list-button {
        background-color: #242f9b;
        color: #ffffff;
        width: 80px;
        height: 40px;
        border-radius: 5px;
      }
    }
  }
}
