@charset "utf-8";

.edit-task {
  width: 1000px;
  margin: 0 auto;
  .error-message {
    color: #ff3333;
  }
  .edit-task-form {
    color: #555555;
    .edit-task-title,
    .edit-task-detail,
    .edit-task-limit {
      width: 300px;
      margin-bottom: 25px;
    }

    .delete-task-button {
      color: #ff3333;
      border: solid 1px #ff3333;
      width: 80px;
      height: 40px;
      margin: 25px 5px;
      border-radius: 5px;
    }

    .edit-task-button {
      background-color: #242f9b;
      color: #ffffff;
      width: 80px;
      height: 40px;
      border-radius: 5px;
    }
  }
}

@media (max-width: 320px) {
  .edit-task {
    width: 100%;
    margin: 0 auto;
    .error-message {
      color: #ff3333;
    }
    .edit-task-form {
      margin-left: 10px;
      color: #555555;
      .edit-task-title,
      .edit-task-detail,
      .edit-task-limit {
        width: 90%;
        margin-bottom: 25px;
      }

      .delete-task-button {
        color: #ff3333;
        border: solid 1px #ff3333;
        width: 80px;
        height: 40px;
        margin: 25px 5px;
        border-radius: 5px;
      }

      .edit-task-button {
        background-color: #242f9b;
        color: #ffffff;
        width: 80px;
        height: 40px;
        border-radius: 5px;
      }
    }
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .edit-task {
    width: 100%;
    margin: 0 auto;
    .error-message {
      color: #ff3333;
    }
    .edit-task-form {
      margin-left: 30px;
      color: #555555;
      .edit-task-title,
      .edit-task-detail,
      .edit-task-limit {
        width: 90%;
        margin-bottom: 25px;
      }

      .delete-task-button {
        color: #ff3333;
        border: solid 1px #ff3333;
        width: 80px;
        height: 40px;
        margin: 25px 5px;
        border-radius: 5px;
      }

      .edit-task-button {
        background-color: #242f9b;
        color: #ffffff;
        width: 80px;
        height: 40px;
        border-radius: 5px;
      }
    }
  }
}
