.taskList {
  margin: 50px auto;
  list-style: none;
  width: 1000px;
  .error-message {
    color: #ff3333;
  }
  .list-header {
    display: flex;
    justify-content: space-between;
    .list-menu {
      text-align: right;
    }
  }
  .list-tab {
    list-style: none;
    display: flex;
    overflow-x: auto;
    .list-tab-item {
      flex-shrink: 0;
      width: 100px;
      padding: 0 25px;
      text-overflow: normal;
      margin-right: 5px;
      border: solid 1px #242f9b;
      justify-content: center;
      align-items: center;
      .active {
        background-color: #242f9b;
        color: #ffffff;
      }
    }
  }
  .tasks {
    margin-top: 25px;
    .tasks-header {
      display: flex;
      justify-content: space-between;
    }
    .task-item {
      list-style-type: none;
      height: 70px;
      width: calc(100% - 25px);
      background-color: #f5f5f5;
      padding-left: 25px;
      font-size: large;
      border: solid 1px #ffffff;
    }

    .task-item-link {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #000000;
      .task-item-info {
        display: flex; /* Flexコンテナとして配置 */
        justify-content: space-between; /* 内部要素を左右に配置 */
        .task-main,
        .task-limit {
          flex: 1; /* 内部要素を均等に伸縮させる */
          .task-limit-diff {
            color: #ff3333;
          }
        }
      }
    }

    .display-select-wrapper {
      width: 100px;
      margin: 0 0 25px auto;
    }

    .display-select {
      width: 100%;
    }
  }
}

@media (max-width: 320px) {
  .taskList {
    margin: 50px auto;
    list-style: none;
    width: 100%;
    .error-message {
      color: #ff3333;
    }
    .list-header {
      padding-right: 10px;
      display: flex;
      justify-content: space-between;
      .list-menu {
        text-align: right;
      }
    }
    .list-tab {
      list-style: none;
      display: block;
      overflow-x: auto;
      .list-tab-item {
        flex-shrink: 0;
        flex-direction: row;
        width: 50%;
        padding: 0 25px;
        text-overflow: normal;
        margin-right: 5px;
        border: solid 1px #242f9b;
        justify-content: center;
        align-items: center;
        .active {
          background-color: #242f9b;
          color: #ffffff;
        }
      }
    }
    .tasks {
      margin-top: 25px;
      .tasks-header {
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
      }
      .task-item {
        list-style-type: none;
        height: 80px;
        width: calc(100% - 25px);
        background-color: #f5f5f5;
        padding-left: 15px;
        font-size: small;
        border: solid 5px #ffffff;
      }

      .task-item-link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #000000;
        .task-item-info {
          display: flex; /* Flexコンテナとして配置 */
          flex-direction: column;
          justify-content: space-between; /* 内部要素を左右に配置 */
          .task-main,
          .task-limit {
            flex: 1; /* 内部要素を均等に伸縮させる */
            .task-limit-diff {
              color: #ff3333;
            }
          }
        }
      }

      .display-select-wrapper {
        padding-right: 10px;
        width: 100px;
        margin: 0 0 25px auto;
      }

      .display-select {
        width: 100%;
      }
    }
  }
}

/* タブレット用スタイル */
@media (min-width: 321px) and (max-width: 768px) {
  .taskList {
    margin: 50px auto;
    list-style: none;
    width: 100%;
    .error-message {
      color: #ff3333;
    }
    .list-header {
      padding-right: 20px;
      display: flex;
      justify-content: space-between;
      .list-menu {
        text-align: right;
      }
    }
    .list-tab {
      list-style: none;
      display: flex;
      overflow-x: auto;
      .list-tab-item {
        flex-shrink: 0;
        width: 100px;
        padding: 0 25px;
        text-overflow: normal;
        margin-right: 5px;
        border: solid 1px #242f9b;
        justify-content: center;
        align-items: center;
        .active {
          background-color: #242f9b;
          color: #ffffff;
        }
      }
    }
    .tasks {
      margin-top: 25px;
      .tasks-header {
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
      }
      .task-item {
        list-style-type: none;
        height: 70px;
        width: calc(100% - 25px);
        background-color: #f5f5f5;
        padding-left: 25px;
        font-size: large;
        border: solid 5px #ffffff;
      }

      .task-item-link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #000000;
        .task-item-info {
          display: flex; /* Flexコンテナとして配置 */
          justify-content: space-between; /* 内部要素を左右に配置 */
          .task-main,
          .task-limit {
            flex: 1; /* 内部要素を均等に伸縮させる */
            .task-limit-diff {
              color: #ff3333;
            }
          }
        }
      }

      .display-select-wrapper {
        padding-right: 20px;
        width: 100px;
        margin: 0 0 25px auto;
      }

      .display-select {
        width: 100%;
      }
    }
  }
}
