@charset "utf-8";

.new-task {
  width: 1000px;
  margin: 0 auto;
  .error-message {
    color: #ff3333;
  }
  .new-task-form {
    color: #555555;
    .new-task-select-list,
    .new-task-limit,
    .new-task-title {
      width: 300px;
      margin-bottom: 25px;
    }
    .new-task-detail {
      height: 200px;
    }
    .new-task-button {
      background-color: #242f9b;
      color: #ffffff;
      width: 80px;
      height: 40px;
      border-radius: 5px;
    }
  }
}

@media (max-width: 320px) {
  .new-task {
    width: 100%;
    margin: 0 auto;
    .error-message {
      color: #ff3333;
    }
    .new-task-form {
      margin-left: 10px;
      color: #555555;
      .new-task-select-list,
      .new-task-limit,
      .new-task-title {
        width: 90%;
        margin-bottom: 25px;
      }
      .new-task-detail {
        width: 90%;
        height: 200px;
      }
      .new-task-button {
        background-color: #242f9b;
        color: #ffffff;
        width: 90px;
        height: 40px;
        border-radius: 5px;
      }
    }
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .new-task {
    width: 100%;
    margin: 0 auto;
    .error-message {
      color: #ff3333;
    }
    .new-task-form {
      margin-left: 30px;
      color: #555555;
      .new-task-select-list,
      .new-task-limit,
      .new-task-title {
        width: 90%;
        margin-bottom: 25px;
      }
      .new-task-detail {
        width: 90%;
        height: 200px;
      }
      .new-task-button {
        background-color: #242f9b;
        color: #ffffff;
        width: 90px;
        height: 40px;
        border-radius: 5px;
      }
    }
  }
}
